MONGO_URI=
JWT_SECRET=
ADMIN1_NAME=
ADMIN1_EMAIL=
ADMIN1_PASSWORD=
ADMIN2_NAME=
ADMIN2_EMAIL=
ADMIN2_PASSWORD=
PORT=
# comma-separated; e.g. http://localhost:5173,http://localhost:5174  (user app, admin app)
CORS_ORIGIN=
COOKIE_SECURE=
